@using ToDoList.Buisness.SourceChanger;
@using ToDoList.Business.SourceChanger.Enums;
@{
    var currentSource = SourceStorage.CurrentSource;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDoList.Server</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ToDoList.Server.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="vh-100 h-100" style="background-color: #D5F5E3;">
        <form asp-action="ChangeCurrentSource" asp-controller="SourceSwitch" method="post">
            <select name="source">
                @foreach (string source in Enum.GetNames(typeof(StorageSources)))
                {
                    <option selected="@(Enum.GetName(currentSource) == source)" calue="@source">@(source)</option>
                }
            </select>
            <input type="hidden" name="controller" value="@ViewContext.RouteData.Values["Controller"]" />
            <input type="hidden" name="action" value="@ViewContext.RouteData.Values["Action"]" />
            <input type="submit" value="Choose" />
        </form>
            @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
